.form-div {
  width: 40vw;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:  11px 11px 22px #0c0f11, 
             -11px -11px 22px #2e373f;

  .form{
      display: flex;
      flex-direction: column;
      margin: 10px auto;
      justify-content: center;
      align-items: center;
  }

  .title{
      font-weight: 100;
      padding-bottom: 10px;
      border-bottom: 1px solid red;
  }

  .form-input{
      margin: 20px;
      width: 200px;
      height: 30px;
      font-size: 28px;
  }

  .label{
      position: relative;
      bottom:-7px;
      font-size: 23px;
      font-weight: 100;
  }

  input[type="text"] {
    border: none;
    border-bottom: 2px solid #465069;
    width: 100%;
    padding-left: 10px;
    text-align: center;
    padding-bottom: 10px;
  }

  input:focus{
      outline: none;
  }

  input[type="submit"] {
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 11px 11px 22px #0c0f11, -11px -11px 22px #2e373f;
    transition: box-shadow 1s ease-in-out;
    margin-top: 50px;
    cursor: pointer;

    &:hover {
     
      box-shadow: inset 11px 11px 22px #0c0f11, inset -11px -11px 22px #2e373f;
    }
  }
}

@media only screen and (max-width: 1000px) {
    .form-div {
      width:80vw;
    }
  }
